In [ ]:
#1

#Implement a recursive algorithm to find factorial of n.
def factorial(n):
  if n == 0:
        return 1
  else:
        return n* factorial(n-1)
print(factorial(5))

120

In [ ]:
#Implement a recursive algorithm to find the n-th Fibonacci number.
def fibonacci(n):
    if n == 1:
        return 0
    if n == 2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)
print(fibonacci(5))

3

In [ ]:
#Print all the elements of a given array recursively.
inp = [1, 2, 3, 4]
length = len(inp)
start_idx = 0

def print_all(arr, length, start):
    if length <= start:
        return   
    print(arr[start], end = " ")
    print_all(arr, length, start+1)

print_all(inp, length, start_idx)

1 2 3 4

In [ ]:
#Given base and n that are both 1 or more, compute recursively 
#(no loops) the value of base  to the n power,
# so powerN(3, 2) is 9 (3 squared)

def cal_power(num, pow):
    if pow == 0:
        return 1
    else:
        return num * cal_power(num,pow-1)
num = 3
power = 3

print(cal_power(num, power))

27

In [6]:
def dec_to_bin(n):
  if n == 0:
    return "0"
  elif n == 1:
    return "1"
  else:
    return dec_to_bin(n//2) + str(n%2)

print(dec_to_bin(3))

11

In [ ]:
class Node:
    def __init__(self, value, next):
        self.value = value
        self.next = next

n3 = Node(3, None)
n2 = Node(4, n3)
n1 = Node(2, n2)

def calculate_sum(head):
    if head.next == None:
        return head.value
    else:
        return head.value + calculate_sum(head.next)
print(calculate_sum(n1))

9

In [ ]:
class Node:
    def __init__(self, value, next):
        self.value = value
        self.next = next

n3 = Node(3, None)
n2 = Node(4, n3)
n1 = Node(2, n2)

def rev_print(head):
    if head == None:
        return
    else:
        rev_print(head.next)
        print(head.value, end = " ")

rev_print(n1)

3 4 2

In [4]:
def hoc(height):
  if height == 0:
    return 0
  elif height == 1:
    return 8
  else:
    return 5 + hoc(height-1)

hoc(5)

28

In [ ]:
#4 a

def printLine(n):
    if n == 0:
        return 
    else:
        printLine(n - 1)
        print(n, end = " ")

def printPattern(n):
    if n == 0:
        return 
    else:

        printPattern(n - 1)
        printLine(n)
        print()

printPattern(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
def pattern_from_right(space, maxspace = None, i = 1):
    if maxspace == None:
        maxspace = space
    if space == 0:
        return
    if i == 1:
        pattern_from_right(space - 1, maxspace)
        print(" " * (maxspace - space), end="")
    print(i, end = "")
    if i == space:
        print()
        return
    pattern_from_right(space, maxspace, i + 1)

pattern_from_right(5)

    1
   12
  123
 1234
12345

In [8]:
class FinalQ:
  def print(self,array,idx):
    if idx < len(array):
      profit = self.calcProfit(array[idx])
      print("{}. Investment: {}; Profit: {}".format(idx+1, array[idx], profit))
      self.print(array, idx + 1)
    else:
        return

  def calcProfit(self,investment):
    if investment % 100 != 0:
      return 0.0
    if investment < 25001:
      return 0.0
    if investment <= 100000:
      return 45 + float(self.calcProfit(investment - 1000))
    elif investment > 100000:
      return 80 + float(self.calcProfit(investment - 1000))

array= [25000,100000,250000,350000]
final= FinalQ()
final.print(array,0)

1. Investment: 25000; Profit: 0.0
2. Investment: 100000; Profit: 3375.0
3. Investment: 250000; Profit: 15375.0
4. Investment: 350000; Profit: 23375.0